<hr class="style1">

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#Shipments" data-toggle="tab" aria-expanded="true">Shipments</a>
  </li>
  <li>
    <a href="#busiest_o" data-toggle="tab" aria-expanded="false">Busiest Origin</a>
  </li>
  <li>
    <a href="#busiest_d" data-toggle="tab" aria-expanded="false">Busiest Destination</a>
  </li>
  <li>
    <a href="#shipment_origin" data-toggle="tab" aria-expanded="false">Number of Shipments (Origin)</a>
  </li>
  <li>
    <a href="#shipment_destination" data-toggle="tab" aria-expanded="false">Number of Shipments (Distination)</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="Shipments">
    <%= render 'shipments' %>
  </div>
  <div class="tab-pane" id="busiest_o">
    <%= render 'origin' %>
  </div>
  <div class="tab-pane" id="busiest_d">
    <%= render 'distination' %>
  </div>
  <div class="tab-pane" id="shipment_origin">
    <%= render 'origin_summary' %>
  </div>
  <div class="tab-pane" id="shipment_destination">
    <%= render 'distination_summary' %>
  </div>
</div>
