<%= flash[:notice] %>

<hr class="style1">


<ul class="nav nav-tabs">
  <li class="active">
    <a href="#Shipments" data-toggle="tab" aria-expanded="true">Shipments</a>
  </li>
  <li>
    <a href="#busiest_o" data-toggle="tab" aria-expanded="false">Busiest Origin</a>
  </li>
  <li>
    <a href="#busiest_d" data-toggle="tab" aria-expanded="false">Busiest Destination</a>
  </li>
  <li>
    <a href="#number" data-toggle="tab" aria-expanded="false">Number of Shipments</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="Shipments">
    <%= render 'shipments' %>
  </div>
  <div class="tab-pane" id="busiest_o">
    <%= render 'origin' %>
  </div>
  <div class="tab-pane" id="busiest_d">
    <%= render 'distination' %>
  </div>
  <div class="tab-pane" id="number">
    <%#= render 'clubs', object: @my_clubs %>
  </div>
</div>

<div>
  <h3>Import a CSV File</h3>
  <%= form_tag import_shipments_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
